{% extends "base.html" %}

{% block contenido %}
<h1>Listado de Clientes</h1>
<p><a href="{% url "crear_cliente" %}">Crear Cliente</a></p>
<ul>
    {% if clientes %}
        {% for cliente in clientes %}
            <li>
                {{ cliente }} 
                | <a href={% url "detalle_cliente" cliente.id %}>Ver más</a> 
                | <a href={% url "modificar_cliente" cliente.id %}>Modificar</a>
                | <a href={% url "eliminar_cliente" cliente.id %}>Eliminar</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No hay Clientes cargados aún.</p>
    {% endif %}            
</ul>
{% endblock contenido %}