{% extends "base.html" %}

{% block contenido %}
<h1>Listado de Cortes de Pelo</h1>
<p><a href="{% url "crear_corte_pelo" %}">Crear Corte de Pelo</a></p>
<ul>
    {% if cortes_pelo %}
        {% for corte_pelo in cortes_pelo %}
            <li>
                {{ corte_pelo }} 
                | <a href={% url "detalle_corte_pelo" corte_pelo.id %}>Ver más</a> 
                | <a href={% url "modificar_corte_pelo" corte_pelo.id %}>Modificar</a>
                | <a href={% url "eliminar_corte_pelo" corte_pelo.id %}>Eliminar</a>
            </li>
        {% endfor %}
    {% else %}
        <p>No hay Cortes de Pelos cargados aún.</p>
    {% endif %}            
</ul>
{% endblock contenido %}